workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_BRANCH =~ /^dev\/.*$/'
    - when: never

stages:
  - checks

variables:
  UV_VERSION: "0.9.21"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.uv_cache"
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PYTHONUNBUFFERED: "1"

default:
  before_script:
    - apt-get update -y && apt-get install -y --no-install-recommends curl
    - export PATH="$HOME/.local/bin:$PATH"
    - curl -LsSf https://astral.sh/uv/install.sh | UV_INSTALL_VERSION=$UV_VERSION sh
    - uv --version
    - uv sync --dev

checks:
  stage: checks
  image: python:${PYTHON_VERSION}
  parallel:
    matrix:
      - PYTHON_VERSION: "3.11"
      - PYTHON_VERSION: "3.12"
      - PYTHON_VERSION: "3.13"
  cache:
    key: "$CI_JOB_NAME-$PYTHON_VERSION"
    paths:
      - .venv/
      - .uv_cache/
  script:
    - uv run ruff check --fix .
    - uv run ruff format .
    - uv run pyright
    - uv run pytest
